<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shrinkenator</title>
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<header>
		<h1>Welcome to Shrinkenator</h1>
		<p>We'll crush your giant link into a nice neat package, friendly for sharing</p>
	</header>
	<main>
		<form>
			<label for="url">URL</label>
			<input type="text" name="url" required>
			<label for="name">Name</label>
			<input type="text" name="name" required>
		</form>
	</main>
</body>
</html>